@tailwind base;
@tailwind components;
@tailwind utilities;

.memory-card {
  transform: scale(0.9);
  transform-style: preserve-3d;
  transition: transform 0.5s;
}

.flip {
  transform: rotateY(180deg);
}
